input {
    width: 500px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    font-size: 16px;
}

input:focus {
    box-shadow: 1px 8px 5px #cacaca;
}

input:hover {
    box-shadow: 1px 8px 5px #cacaca;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.input-small {
    width: 234px;
}

.input-big {
    width: 590px;
}

.input-sign-up:focus {
    box-shadow: 1px 8px 5px #668aae;
}

.input-sign-up:hover {
    box-shadow: 1px 8px 5px #668aae;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}