.sign-in {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sign-in__title {
    font-size: 48px;
    font-family: 'ComfortaaRegular';
    margin-top: 80px;
}

.sign-in__form {
    width: 600px;
    height: 500px;
    background-color: #a8c9ea;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 80px;
}

.sign-in-form__label {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 50px;
    text-align: start;
}

.sign-in-form__title {
    font-size: 32px;
    font-family: 'ComfortaaBold';
}

.sign-in-form__item {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sign-up-link {
    font-size: 12px;
    color: #909090;
    transition-property: color;
    transition-duration: 0.2s;
}

.sign-up-link:hover {
    color: #6a6a6a;
    transition-property: color;
    transition-duration: 0.2s;
}

@media (max-width: 420px) {
    .sign-in__title {
        font-size: 28px;
        text-align: center;
        margin-top: 40px;
    }

    .sign-in-form__title {
        font-size: 18px;
    }

    .sign-in-form__label {
        font-size: 16px;
        width: 300px;
    }

    .sign-in__form {
        width: 300px;
        height: 350px;
        background-color: #a8c9ea;
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 40px;
    }

    .sign-in-form__item {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .input {
        width: 250px;
        height: 35px;
        border-radius: 8px;
    }

    .btn {
        width: 250px;
        height: 35px;
        border-radius: 8px;
    }

    .sign-up-link {
        font-size: 10px;
        text-align: center;
    }

    .required {
        color: red;
        font-size: 10px;
        height: 10px;
    }
    
    .success {
        color: green;
        font-size: 10px;
        height: 10px;
    }
    
    .default {
        height: 10px;
    }
}